.container {
  width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
